@model UserViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@if (TempData["ProfileUpdateState"] != null)
{
    @Html.Raw(TempData["ProfileUpdateState"])
}
@if (TempData["Password"] != null)
{
    @Html.Raw(TempData["Password"])
}

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="data:image;base64, @Model.ImageString" alt="Profile" class="rounded-circle">
                    <h2>@Model.Name @Model.Surname</h2>
                    <h3>@Model.Role</h3>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">My Video</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">Profile Details</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">@Model.Name @Model.Surname</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Role</div>
                                <div class="col-lg-9 col-md-8">@Model.Role</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.EMail</div>
                            </div>

                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <form asp-controller="user" asp-action="edit" enctype="multipart/form-data" method="post">
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                    <div class="col-md-8 col-lg-9">
                                        <img src="data:image;base64, @Model.ImageString" alt="Profile">
                                        <div class="pt-2">
                                            <input asp-for="Picture" type="file" class="btn btn-primary btn-sm">

                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Name</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="Name" type="text" class="form-control" id="fullName">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Surname</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="Surname" type="text" class="form-control" id="fullName">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Role" class="col-md-4 col-lg-3 col-form-label">Role</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Role" class="form-control" value="@Model.Role" disabled>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="EMail" name="email" type="email" class="form-control" id="Email">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="button" name="btnSaveChanges" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form asp-controller="User" asp-action="ChangePassword" method="post">

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="Password" type="password" class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="NewPassword" type="password" class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="ConfirmNewPassword" type="password" class="form-control">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>
                        <div class="tab-pane fade pt-3" id="profile-settings">
                            <div class="card">
                                <div class="card-body">
                                    <iframe style="text-align:center" width="560" height="315" src="https://www.youtube.com/embed/Tu96yevGMEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>


                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $('#btnSaveChanges').click(function () {
            toastr.success('Değişiklikler başarıyla kaydedildi.', 'Tebrikler');
        });
    </script>
}